.disk {
    display: flex;
    flex-direction: row;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    z-index: 0;
}

.button {
    height: 40px;
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.5);
    font-size: 18px;
    margin-bottom: 5px;
}

.button:hover {
    background-color: rgba(245,205,130,0.5);
}

.hidden {
    display: none;
}

.right {
    left: 5px;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 77vw;
}

.right::-webkit-scrollbar { width: 0; }

